<form class="form-container border border-1 p-4 rounded-2">
  <div class="alert alert-danger" role="alert"
       *ngIf="errorMessage || validationErrors.length">
    <p class="p-0 m-0" *ngFor="let error of validationErrors">
      {{ error }}
    </p>
    <p class="p-0 m-0" *ngIf="errorMessage">
      {{ errorMessage }}
    </p>
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
           [(ngModel)]="authRequest.email" name="login-email">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1"
           [(ngModel)]="authRequest.password" name="login-password">
  </div>
  <button type="submit" class="btn btn-primary"
          (click)="authenticate()">Login
  </button>
  <div class="d-flex justify-content-between mt-3">
    <button class="btn btn-link" href="javascript:void[0]"
            routerLink="/register">
      Don't have an account yet register
    </button>
    <button class="btn btn-link" href="javascript:void[0]"
            routerLink="/recover-pass-mail">
      I forgot my password
    </button>
  </div>
</form>
