<form class="d-flex flex-column
 align-items-center
 justify-content-center
 m-auto border border-1 mt-3
 rounded-5" style="width: 500px; height: 500px">
  <div class="alert alert-danger" role="alert" *ngIf="validationErrors.length">
    <p class="m-0 p-0" *ngFor="let error of validationErrors">
      {{ error }}
    </p>
  </div>
  <div class="alert alert-danger" *ngIf="errorMessage">
    <p class="m-0 p-0">{{ errorMessage }}</p>
  </div>
  <div class="alert alert-success d-flex align-items-center" *ngIf="successMessage">
    {{ successMessage }} you can
    <button class="btn btn-link" (click)="moveToLogin()">
      Login now
    </button>
  </div>
  <div class="mb-3">
    <label for="new-pass" class="form-label fw-bold">Write a new password : </label>
    <input type="password" class="form-control" id="new-pass"
           [(ngModel)]="recoverRequest.password"
           name="set-new-pass"
    >
  </div>
  <div class="mb-3">
    <label for="confirm-new-pass" class="form-label fw-bold">Confirm the new password : </label>
    <input type="password" class="form-control" id="confirm-new-pass"
           name="set-code-recovery"
           [(ngModel)]="recoverRequest.confirmPassword"
    >
  </div>
  <button type="submit" class="btn btn-primary" (click)="applyPasswordChange()">
    validate
  </button>
</form>
